@using WebMVC_EF.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    List<Category> categories = ViewBag.cat;
}

@model List<Product>

<h2>List category</h2>
<form asp-action="Index" asp-controller="Product" method="post">
    <select name="cid" onchange="this.form.submit()">
        <option value="0">All category</option>
        @foreach (var c in categories)
        {
            if (c.CategoryId == @ViewBag.cid)
            {
                <option value="@c.CategoryId" selected>@c.CategoryName</option>
            }
            else
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        }
    </select>
</form>





<h2>List Product</h2>
<table border="1">
    <thead>
        <tr>
            <td>ProductId</td>
            <td>ProductName</td>
            <td>UnitPrice</td>
            <td>UnitsInStock</td>
            <td>Image</td>
            <td>CategoryId</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td><a href="/Product/Information/@p.ProductId">@p.ProductId</a></td>
                <td>@p.ProductName</td>
                <td>@p.UnitPrice</td>
                <td>@p.UnitsInStock</td>
                <td><img style="height:70px;width:100px" src="@p.Image" /></td>
                <td>@p.CategoryId</td>
                <td>
                    <a href="/Product/Update/@p.ProductId">Update </a>
                    |
                    <a href="/Product/Delete/@p.ProductId"> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Product/Create">Create Product</a>

